{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "camelcase": ["error", {"properties": "always"}],
    "import/extensions": [{"sass": "never"}],
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ],
    "react/forbid-prop-types": 0,
    "no-undef":0,
    "no-multiple-empty-lines": [2, {"max": 2, "maxBOF": 0, "maxEOF": 0}],
    "max-lines": ["error", 150],
    "max-statements-per-line": ["error", {"max": 1}]
  }
}