$border-regular: #dddddd;
$font-dark: #313131;
$line-dim-grey: #727272;
$white:  #fff;
$blue-regular: #00adf2;
$background-blue: #0690ed;
$blue-light: #dff0f7;
$font-red: #d51e00;
$border-light: #eee;
$border-dark: #ccc;
$box-light: #f9f9f9;
$box-shadow: #c5c5c5;
$border-light-red: #e27f7e;
$black: #000;